* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-white:rgb(240, 240, 240);
    --color-black:rgb(35, 35, 35);
    --color-blue:#6c5ce7;
    --color-fond-about:rgb(70, 70, 70);
    --gradient-background:linear-gradient(305deg,rgba(108, 92, 231, 1) 0%, rgba(33, 33, 33, 1) 100%);
}
