* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-white:rgb(240, 240, 240);
    --color-black:rgb(35, 35, 35);
    --color-blue:#667eea;
    --gradient-background:radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,204,255,1) 0%, rgba(230,204,255,1) 90% );
}