.section-intro-project{
    padding: 0px;
}

.intro-project{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-black);
    color: var(--color-white);
}

.project-background{
    position: absolute;
    inset: 0;
    z-index: 0;
}

.intro-project h1{
    font-size: 3.5rem;
    z-index: 1;
}

.intro-project a {
    z-index: 1;
    padding: 10px;
    font-size: 1.5rem;
    display: flex;
    text-decoration: none;
    color: var(--color-white);
}

fieldset {
    display: flex;
    justify-content: space-around;
    padding: 10px 10px 25px 10px;
    margin: 5rem auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: 0px;
    border-radius: 15px;
    width: 50%;

    legend{
        text-align: center;
        font-size: 2rem;
    }

    input{
        display: none;
    }

    label {
        padding: 6px 12px;
        cursor: pointer;
        border-radius: 10px;
    }

    input[type="radio"]:checked + label{
        background: var(--gradient-background);
    }
}

.externe{
    color: var(--color-white);
}

.active {
  color: var(--color-white);
}